.section-title {
    margin-bottom: 30px;
    font-family: var(--primari-font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.171;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}