:root {
    --primari-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --accent-color: #2196F3;
    --text-color: #757575;
    --title-color: #212121;
    --secondary-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --primari-background-color: #F5F4F5;
    --social-color-icon: #AFB1B8;
}